<!-- content-login -->
<div class="content-login a-intro">
    <div class="login-card">
        <div class="head">
            ¿Olvidaste tu contraseña?
            <p>No te preocupes, puedes recuperarla.</p>
        </div>
        <form id="reset_passForm" class="form" method="POST" action="/resetpassword">
            <!-- input -->
            <div class="input-st">
                <i class="material-icons-outlined">account_circle</i>
                <input type="text" name="user" id="email_recover" placeholder="Correo Electronico">
            </div>
            <!-- / input -->
            <!-- a -->
            <p>Ingresa tu dirección de correo electrónico y te <br> enviaremos un enlace para restablecerla</p>
            <!-- / a -->
            <!-- buttons -->
            <div class="action">
                <button class="btn" id="reset_passForm_btn" type="submit">Enviar Correo</button>
            </div>
            <!-- / buttons -->
        </form>
    </div>
</div>
<!-- / content-login -->

<!-- Slim jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="reset_pass.js"></script>