<!-- content-login -->
<div class="content-login">
    <div class="login-card">
        <div class="head">
            Cambiar contraseña
            <p>Asegurate de guardarla en algun lado seguro.</p>
        </div>
        {{#if status}}
            <div class="alert alert-danger m-4 font-italic" role="alert">
                Parece que hizo clic en un <br>enlace de restablecimiento<br> de contraseña no válido.<br> Inténtalo de nuevo.
            </div>
        {{/if}}
        <form id="change_pass" data-idrequest="{{sha}}" class="form">
            <!-- input -->
            <div class="input-st">
                <i class="material-icons-outlined">lock</i>
                <input type="password" name="user" placeholder="Ingresa la nueva contraseña" id="new_pass">
            </div>
            <!-- / input -->
            <!-- input -->
            <div class="input-st">
                <i class="material-icons-outlined">check</i>
                <input type="password" name="user" placeholder="Repetir contraseña" id="repeat_pass">
            </div>
            <!-- / input -->
            <!-- a -->
            <p>Asegúrese de que tenga al menos 15 <br> caracteres O al menos 8 caracteres, incluido un <br>número y una letra minúscula.</p>
            <!-- / a -->
            <!-- buttons -->
            <div class="action">
                <button class="btn" type="submit" data-idrequest="{{sha}}" {{#if status}}disabled{{/if}}>Cambiar contraseña</button>
            </div>
            <!-- / buttons -->
        </form>
    </div>
</div>
<!-- / content-login -->

<!-- Slim jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../reset_pass.js"></script>